body {
  font-family: sans-serif;
}

main {
  margin: 0 auto;
  text-align: center;
  border: 5px solid #555;
  border-radius: 5px;
  padding: 20px;
  min-height: 50vh;
  width: 50%;
}

#frmContainer {
  margin: 10px 20px;
}

#resultContainer {
  margin: 25px 20px;
}

a {
  display: inline-block;
  background-color: darkcyan;
  color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}

a:hover {
  background-color: #cd5c5c;
}

.logo {
  height: 60px;
}
